*{
  margin: 0%;
  padding: 0%;

}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(460deg);
  }
}
.gradient {
  --size: 750px;
  --speed: 5s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#6e20ff, #e24edb, #797373);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  position: absolute;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}



