.Jobsparent {
    flex:1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}
    
.Jobsdiv1 {
    grid-column: span 3 / span 3;
    grid-row: span 7 / span 6;
    display: flex;
    justify-content:end;

}

.Jobsdiv2 {
    grid-column: span 8 / span 8;
    grid-row: span 7 / span 6;
    grid-column-start: 4;

    padding-top: 1rem;

    
    
}

.Jobsdiv3 {
    display: flex;
    justify-content: center;



    grid-column: span 4 / span 4;
    grid-row: span 7 / span 6;
    grid-column-start: 12
    
}


.Jobsdiv4 {
    grid-column: span 15 / span 15;
    grid-row: span 2 / span 2;
    grid-row-start: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}
        