.Companiesparent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Companiesdiv1 {
  height: 18%;
}

.Companiesdiv2 {
  max-height: 60vh;
  display: grid;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Companiesdiv3 {
  max-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
